/rawData/Electronics.jsonl
/dataProcess/meta_Electronics.jsonl
/dataProcess/meta_Sports_and_Outdoors.jsonl
/rawData/Sports_and_Outdoors.jsonl
/rawData/Electronics_2019_2021.jsonl
/dataProcess/Electronics_2019_2021_sorted.jsonl
/dataProcess/Electronics_2019_2021_sorted_min15.jsonl
/dataProcess/Electronics_2019_2021_sorted_min15_canon.jsonl
/rawData/Electronics_2019_2021.jsonl
